@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Red+Hat+Display:wght@400;500&family=Rubik:wght@300;400&display=swap');
@import './mixins';
@import './media';
body {
    background-color: hsl(226, 43%, 10%);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}
.main-container {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 20px;
    color: #FFFFFF;
    .card-user {
        grid-row: 1 / span 2;
        width: 100%;
        height: auto;
        border-radius: 15px;
        background-color: hsl(235, 46%, 20%);
        .head-user-card {
            background-color: hsl(246, 80%, 60%);
            height: 65%;
            border-radius: 15px;
            padding-left: 25px;
            padding-right: 25px;
            img {
                margin-top: 35px;
                border: 3px solid #FFFFFF;
                border-radius: 50%;
                width: 70px;
            }
            .data-user {
                span {
                    padding-left: 0;
                    color: hsl(236, 100%, 87%);
                    margin-top: 25px;
                }
                h1 {
                    font-weight: 300;
                    font-size: 30px;
                    margin-top: 10px;
                }
            }
        }
        .range {
            span {
                display: block;
                padding-left: 25px;
                margin-top: 20px;
                color: hsl(236, 100%, 87%);
                cursor: pointer;
            }
            :hover {
                color: #FFFFFF;
            }
        }
    }
    .card-stat {
        width: 100%;
        height: 250px;
        border-radius: 15px;
        position: relative;
        cursor: pointer;
        .info-card {
            background-color: hsl(235, 46%, 20%);
            position: absolute;
            width: 100%;
            height: 80%;
            bottom: -1px;
            border-radius: 15px;
            .title-card {
                width: 100%;
                text-align: center;
                margin-top: 15px;
                h2 {
                    display: inline;
                    margin-right: 50%;
                    font-size: 20px;
                }
                img {
                    cursor: pointer;
                }
                .individual {
                    width: 100px;
                    position: absolute;
                    right: 0px;
                    opacity: 0;
                    background: hsl(235, 46%, 20%);
                    border-radius: 15px;
                    span {
                        border-radius: 15px;
                    }
                    span:hover {
                        background-color: hsl(246, 80%, 60%);
                    }
                }
            }
            span {
                display: block;
            }
            .actual {
                margin-left: 25px;
                font-size: 60px;
                margin-top: 20px;
                font-weight: 300;
            }
            .pasado {
                margin-top: 10px;
                margin-left: 25px;
                color: hsl(236, 100%, 87%);
                font-size: 15px;
            }
        }
        :hover {
            background-color: hsl(235, 45%, 61%);
        }
    }
    .work {
        @include fondo-card(hsl(15, 100%, 70%) , '../images/icon-work.svg');
    }
    .play {
        @include fondo-card(hsl(195, 74%, 62%), '../images/icon-play.svg');
    }
    .study {
        @include fondo-card(hsl(348, 100%, 68%), '../images/icon-study.svg');
    }
    .exercise {
        @include fondo-card(hsl(145, 58%, 55%), '../images/icon-exercise.svg');
    }
    .social {
        @include fondo-card(hsl(264, 64%, 52%), '../images/icon-social.svg');
    }
    .self-care {
        @include fondo-card(hsl(43, 84%, 65%), '../images/icon-self-care.svg');
    }
}


.active {
    color: #FFFFFF!important;
    font-weight: bold;
}

.attribution {
    font-size: 11px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    bottom: 5px;
    color: #FFFFFF;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}