@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Red+Hat+Display:wght@400;500&family=Rubik:wght@300;400&display=swap");
@media (max-width: 768px) {
  .main-container {
    grid-template-columns: 33% 33% 33% !important;
  }
}
@media (max-width: 576px) {
  .main-container {
    grid-template-columns: 50% 50% !important;
  }
}
@media (max-width: 375px) {
  .main-container {
    grid-template-columns: auto !important;
  }

  .card-user {
    width: 100% !important;
    height: 160px !important;
    padding-bottom: 10px;
  }

  .card-stat {
    width: 100% !important;
    height: 160px !important;
  }

  .head-user-card {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .head-user-card img {
    width: 55px !important;
    height: 55px !important;
    margin-right: 10%;
    margin-top: 0 !important;
  }
  .head-user-card .data-user h1 {
    font-size: 15px !important;
  }

  .data-user {
    margin-top: 5%;
  }

  .actual {
    width: 50%;
    display: inline !important;
    margin-left: 25px;
    font-size: 35px !important;
    margin-top: 10px;
  }

  .title-card {
    margin-bottom: 15px;
  }
  .title-card h2 {
    margin-right: 60% !important;
  }

  .info-card {
    margin-top: 12% !important;
  }

  .pasado {
    width: 50%;
    display: inline !important;
  }

  .range {
    display: flex;
    justify-content: space-around;
  }
  .range span {
    padding: 0 !important;
  }

  .attribution {
    margin-top: 30px;
    position: relative !important;
  }
}
body {
  background-color: #0f1424;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

.main-container {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 20px;
  color: #FFFFFF;
}
.main-container .card-user {
  grid-row: 1/span 2;
  width: 100%;
  height: auto;
  border-radius: 15px;
  background-color: #1c1f4a;
}
.main-container .card-user .head-user-card {
  background-color: #5847eb;
  height: 65%;
  border-radius: 15px;
  padding-left: 25px;
  padding-right: 25px;
}
.main-container .card-user .head-user-card img {
  margin-top: 35px;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  width: 70px;
}
.main-container .card-user .head-user-card .data-user span {
  padding-left: 0;
  color: #bdc1ff;
  margin-top: 25px;
}
.main-container .card-user .head-user-card .data-user h1 {
  font-weight: 300;
  font-size: 30px;
  margin-top: 10px;
}
.main-container .card-user .range span {
  display: block;
  padding-left: 25px;
  margin-top: 20px;
  color: #bdc1ff;
  cursor: pointer;
}
.main-container .card-user .range :hover {
  color: #FFFFFF;
}
.main-container .card-stat {
  width: 100%;
  height: 250px;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
}
.main-container .card-stat .info-card {
  background-color: #1c1f4a;
  position: absolute;
  width: 100%;
  height: 80%;
  bottom: -1px;
  border-radius: 15px;
}
.main-container .card-stat .info-card .title-card {
  width: 100%;
  text-align: center;
  margin-top: 15px;
}
.main-container .card-stat .info-card .title-card h2 {
  display: inline;
  margin-right: 50%;
  font-size: 20px;
}
.main-container .card-stat .info-card .title-card img {
  cursor: pointer;
}
.main-container .card-stat .info-card span {
  display: block;
}
.main-container .card-stat .info-card .actual {
  text-align: center;
  font-size: 50px;
  margin-top: 20px;
  font-weight: 300;
}
.main-container .card-stat .info-card .pasado {
  margin-top: 10px;
  margin-left: 25px;
  color: #bdc1ff;
  font-size: 15px;
}
.main-container .card-stat :hover {
  background-color: #6f76c8;
}
.main-container .work {
  background-color: #ff8c66;
  background-image: url("../images/icon-work.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: -10px;
}
.main-container .play {
  background-color: #56c2e6;
  background-image: url("../images/icon-play.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: -10px;
}
.main-container .study {
  background-color: #ff5c7c;
  background-image: url("../images/icon-study.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: -10px;
}
.main-container .exercise {
  background-color: #4acf81;
  background-image: url("../images/icon-exercise.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: -10px;
}
.main-container .social {
  background-color: #7536d3;
  background-image: url("../images/icon-social.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: -10px;
}
.main-container .self-care {
  background-color: #f1c65b;
  background-image: url("../images/icon-self-care.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: -10px;
}

.attribution {
  font-size: 11px;
  margin-top: 20px;
  width: 100%;
  text-align: center;
  bottom: 5px;
}

.attribution a {
  color: #3e52a3;
}

/*# sourceMappingURL=style.css.map */
